@use './colors';

body {
  background-color: colors.$background-gray;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  position: relative;
  max-width: 100dvw;
  width: 100dvw;
  max-height: 100dvh;
  height: 100dvh;
  overflow: hidden;
  color: #011448;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: inherit;

  > div {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }
}

.logo-area {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0.5rem;
}

.right-selector {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0.5rem;
}

.logo-icon {
  display: block;
  background-image: url('./assets/diamond.svg');
  background-size: cover;
  width: 32px;
  height: 32px;
}

.logo-name {
  font-size: larger;
  font-weight: bolder;
}

.selector-icon {
  display: block;
  background-image: url('./assets/earth.svg');
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.login-form {
  width: 800px;
  background-color: colors.$background-stay-pink;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-main {
  display: flex;
  flex-flow: row;
  padding: 1rem;
}

.left-description {
  flex: 1;
  padding: 0.5rem;
}

.sub-description {
  margin-top: 0.5rem;
}

.right-form {
  flex: 1;
  background-color: colors.$background-1;
  padding: 0.5rem;
  display: flex;
  flex-flow: column;

  .form-title {
    margin: 0.5rem 1rem;
  }
}

.desc {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 1rem;

  .desc-icon {
    margin-right: 1rem;

    > svg {
      stroke: colors.$title-color;
    }
  }

  .desc-title {
    color: colors.$title-color;
  }
}

.form-title {
  text-align: center;
}

.form-area {
  padding: 1rem 1.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  background-clip: padding-box;
  border: 1px solid colors.$border-gray;
  border-radius: 6px;
  margin-bottom: 0.75rem;
  box-sizing: border-box;
}

.check-box {
  display: block;
  padding-left: 1.5em;
  margin-bottom: 0.75rem;
}

input[type='checkbox'] {
  float: left;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  margin-left: -1.5em;
  vertical-align: top;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  background-position: center;
  background-size: contain;
  background-color: white;
}

input[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  background-color: colors.$checkbox-back;
}

label {
  display: inline-block;
}

.login-button {
  margin: auto 0.5rem 1rem 0.5rem;
  padding: 1rem;
  box-sizing: border-box;

  button {
    width: 100%;
    background-color: colors.$background-stay-pink;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 0.25rem;
    box-shadow: 0 0.125rem colors.$checkbox-back;
  }
}
