$background-white: white;
$background-gray: #fef4f2;
$background-stay-pink: #ffe3e8;
$background-1: #fff2f2;

$title-color: #b0a4d6;

$border-gray: #d0dae3;

$checkbox-back: #c29fc3;

$button-back: #a3a3df;

$color-error: #f05955;
